* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gideon Roman", cursive; /*font family*/
  font-family: "Titillium Web", sans-serif;
}

/*  Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 90vh;
}

#logo {
  height: 2px;
  width: 2px;

}
/* .aboutImg {
  width: 100%;
  height: 400px !important;
} */
